<?xml version="1.0"?>
<configuration>
	<configSections>
		<sectionGroup name="spring">
			<section name="parsers" type="Spring.Context.Support.NamespaceParsersSectionHandler, Spring.Core"/>
			<section name="context" type="Spring.Context.Support.WebContextHandler, Spring.Web"/>
			<section name="objects" type="Spring.Context.Support.DefaultSectionHandler, Spring.Core"/>
		</sectionGroup>
	</configSections>
	<appSettings>
		<!-- 数据库地址 -->
		<add key="db.datasource" value="localhost"/>
		<!-- 数据库名称 -->
		<add key="db.database" value="ykPermission"/>
		<!-- 数据库用户名 -->
		<add key="db.user" value="sa"/>
		<!-- 数据库密码，如果是加密的密码，将"EncyptedPassword"参数设为true,否则设为false -->
		<add key="db.password" value="123"/>
		<!--<add key="db.password" value="sa"/>-->
		<!-- 数据库密码是否加密 -->
		<add key="EncyptedPassword" value="false"/>
		<!---网站名称-->
		<add key="AdminTitle" value="通用权限管理v1.0"/>
	</appSettings>
	<connectionStrings/>
	<spring>
		<context>
			<resource uri="~/Config/config.xml"/>
			<resource uri="~/Config/adminpage.xml"/>
			<resource uri="config://spring/objects"/>
		</context>
		<objects xmlns="http://www.springframework.net" xmlns:r="http://www.springframework.net/remoting" xmlns:db="http://www.springframework.net/database" xmlns:tx="http://www.springframework.net/tx">
			<description>Definitions of objects to be exported.</description>
			<db:provider id="targetDbProvider" provider="System.Data.SqlClient" connectionString="Data Source=${db.datasource};Database=${db.database};User ID=${db.user};Password=${db.password};Trusted_Connection=False"/>
			<object id="dbProvider" type="Spring.Data.Common.UserCredentialsDbProvider, Spring.Data">
				<property name="TargetDbProvider" ref="targetDbProvider"/>
			</object>
			<object id="adoTemplate" type="Spring.Data.Core.AdoTemplate, Spring.Data">
				<property name="DbProvider" ref="dbProvider"/>
			</object>
			<object id="transactionManager" type="Spring.Data.Core.AdoPlatformTransactionManager, Spring.Data">
				<property name="DbProvider" ref="dbProvider"/>
			</object>
			<object name="appConfigPropertyHolder" type="Spring.Objects.Factory.Config.PropertyPlaceholderConfigurer, Spring.Core">
				<property name="configSections">
					<value>appSettings</value>
				</property>
			</object>
			<tx:attribute-driven transaction-manager="transactionManager"/>
		</objects>
	</spring>
	<system.web>
		<!--<compilation debug="true" targetFramework="4.0">
		</compilation>-->
		<!--
            通过 <authentication> 节可以配置
            安全身份验证模式，ASP.NET 
            使用该模式来识别来访用户身份。 
        -->
		<authentication mode="Windows"/>
		<!--
            如果在执行请求的过程中出现未处理的错误，
            则通过 <customErrors> 节
            可以配置相应的处理步骤。具体而言，
            开发人员通过该节可配置要显示的 html 错误页，
            以代替错误堆栈跟踪。

        <customErrors mode="RemoteOnly" defaultRedirect="GenericErrorPage.htm">
            <error statusCode="403" redirect="NoAccess.htm" />
            <error statusCode="404" redirect="FileNotFound.htm" />
        </customErrors>
        -->
		<httpHandlers>
			<!--页面注入需要添加httpHandler-->
			<add verb="*" path="*.aspx" type="Spring.Web.Support.PageHandlerFactory, Spring.Web"/>
			<add verb="*" path="*.ashx" type="Spring.Web.Support.DefaultHandlerFactory, Spring.Web"/>
		</httpHandlers>
		<httpModules>
			<!--页面注入需要添加httpModule-->
			<add name="Spring" type="Spring.Context.Support.WebSupportModule, Spring.Web"/>
		</httpModules>
		<!--<pages controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID"/>-->
		<compilation debug="true" targetFramework="4.0"/>
		<pages controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID"/></system.web>
</configuration>
