body,html{margin:0px; padding:0px;font-size:12px;}
/*--------index--------*/
.headL{float:left; height:50px; line-height:50px;}
.headL h1{ margin:0px; padding:0px; font-size:30px; font-family:黑体; font-weight:bold; color:#0E2D5F;}
.headR{float:right; height:30px; line-height:30px; margin-top:20px; margin-right:20px;}
.headR span{ margin-right:10px;}
.menuUL{ list-style:none; margin:0px; padding:0px;}
.menuUL li{ height:30px;line-height:30px; color:#0E2D5F;}
.menuUL a{ color:#000;}
#login_out{ cursor:pointer;}
/*----------main---------*/
.main{ padding:5px;}
.search{padding:20px 10px;}
.blank{ height:10px; clear:left;}
.fl{ float:left;}
.fr{ float:right;}
.tl{text-align:left;}
.tr{text-align:right;}
.tb{ padding:5px; height:auto; display:none;}
.win{display:none; padding: 0px; margin: auto;}
.infotable{ line-height:30px; margin-top:20px;}
.txt{width:148px; height:20px; line-height:20px;border:solid 1px #d4d4d4;}
.txt:hover{ border:solid 1px #4BBA12}
.textarea{width:250px; height:40px; font-size:13px;border:solid 1px #efefef;}
.action{ border-top:solid 1px #efefef; padding:20px 0px 0px 100px;}
.btn{ width:112px; height:33px; border:none; background:url(images/login-btn.jpg) no-repeat; color:#fff; cursor:pointer;}
